**/.dockerignore
**/bin
**/obj
**/out
**/.vs
**/.vscode
**/.idea
**/.git
**/.gitignore
**/node_modules
**/docker-compose*
**/Dockerfile*
**/*.md
**/*.user
**/*.suo
**/launchSettings.json
**/.env
**/appsettings.Development.json
